.modal {
  position: fixed;
  z-index: 10001;
  display: flex;
  flex-direction: column;

  width: calc(100% - 2 * #{$default-gutter});
  max-width: 92rem;

  top: 50%;
  left: 50%;

  padding: 0 3rem;

  transform: translate(-50%, -55%);
  opacity: 0;
  visibility: hidden;

  background: $color-white;

  line-height: calc(1.9 / 1.4);

  @include transition(visibility opacity transform);

  @include desktop {
    padding: 0 4rem;

    font-size: 1.6rem;

    line-height: calc(2.4 / 1.6);
  }

  &--show {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;

    transition-delay: 125ms;
  }

  &__content {
    padding-top: 2.5rem;

    @include desktop {
      padding-top: 3.4rem;
    }

    &--small-text {
      font-size: 1.4rem;

      @include desktop {
        font-size: 1.6rem;
      }
    }

    &--big-padding {
      padding-top: 4rem;
      padding-bottom: 1rem;
    }

    &__paragraph {
      padding-bottom: 2.1rem;

      &:first-child {
        padding-bottom: 2.5rem;
      }
    }

    &__link {
      font-weight: 600;

      color: $color-secondary;

      &,
      &:visited,
      &:hover {
        text-decoration: none;
      }
    }

    &__image {
      max-width: 17rem;

      margin-bottom: 1.2rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__btn-container {
    display: flex;
    flex-direction: column-reverse;

    margin-top: 1.25rem;
    margin-bottom: 0.75rem;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;

      margin-bottom: 1.25rem;
    }

    &--alt-pad {
      margin-top: 0.5rem;
      margin-bottom: 2.2rem;
    }
  }

  &__btn {
    margin-bottom: 1.7rem;

    @include desktop {
      width: 47.6%;
      max-width: 40rem;
    }
  }
}
