*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  background: $color-grey-1;
  // background: chartreuse;
}

sup {
  font-size: 0.8rem;
  vertical-align: super;
}

button {
  font-family: $default-font-families;
}

ol,
ul {
  list-style: none;
}

a[href],
button,
textarea,
input[type='text'],
input[type='radio'],
input[type='checkbox'],
select {
  &:active,
  &:focus {
    outline-color: $color-primary-transparent;
  }
}

// Contentful Rich Text fields tend to like to add an empty p tag to the end
p:empty {
  display: none;
}
